body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F3F4F6;
}

header {
  margin-bottom: 1rem;
  background-color: #3B82F6;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
  border-bottom: 4px solid #2563EB;
}

h1 {
  width: 100%;
  max-width: 50rem;
  margin: 1.5rem 1rem;
  color: #F9FAFB;
}

main {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1rem;
}

dialog {
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: #F9FAFB;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
}

fieldset {
  border: none;
}

h2 {
  margin: 0;
}

fieldset > legend {
  font-size: 1.5rem;
  font-weight: bold;
}

fieldset > div {
  margin: 1rem 0;
}

.primary-button {
  color:#F9FAFB;
  background-color:#3B82F6;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
}

.primary-button:hover,
.primary-button:focus {
  border: none;
  background-color: #2563EB;
}

.secondary-button {
  color:#3B82F6;
  margin: 0.5rem 1rem;
  border: none;
  background-color: transparent;
}

.secondary-button:hover,
.secondary-button:focus {
  text-decoration: underline;
}

#add-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  color: #F9FAFB;
  background-color: #3B82F6;
  border-radius: 300px;
  box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
}

#blog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.blog-item {
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 16rem;
  background-color: #F9FAFB;
  border-top: 4px solid #3B82F6;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}

.blog-title {
  color: #111827;
  margin: 0;
}

.blog-date {
  color: #6B7280;
}

.blog-summary {
  margin: 1rem 0;
  color: #4B5563;
}

menu {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

svg {
  margin-right: 1rem;
  color:#4B5563;
  width: 24px;
  height: 24px;
}

svg:hover {
  cursor: pointer;
}